{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="page-header" style="background-image: url('../../../media/1.jpg'); ">
        <div class="filter"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 ml-auto mr-auto">
                <div class="card card-register" style="background-color: #666666; border-radius: 25px; ">
                    <form method='POST' enctype= "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Login</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn" type="submit" style="background:#949494 ;">Login</button><br/><br/>
                            <a style="color: #fff; padding: 8px" href="#">Forgot Password?</a>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <div class="text">
                            <p>Don't have an account?</p><br/><br/>
                            <a class="ml-2" style="color: antiquewhite; padding: 80px" href="{% url 'profile:client-register' %}">Sign Up as a client</a><br/>
                            <a class="ml-2" style="color: antiquewhite; padding: 57px" href="{% url 'profile:professional-register' %}">Sign Up as a professional</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer register-footer text-center">
          <h6  style="color: aliceblue">©
            <script>
              document.write(new Date().getFullYear())
            </script>, made by Prajwol Tiwari</h6>
        </div>
      </div>

{% endblock content %}